.login-wrapper {
    position: relative;
}

.login-wrapper .input-error {
    padding: 7px 10px;
    text-align: left;
    top: 0;
    width: 80%;
    margin: 0;
    letter-spacing: 0.5px;
}
.h-100 {
    height: auto !important;
}
.admin-user-info span p {
	padding: 8px;
    margin: 0;
    vertical-align: middle;
}